In [0]:
import pandas as pd

In [15]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

1.Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (2.5 points)

In [22]:
file = '/content/drive/My Drive/PGML/Laliga.csv'
df = pd.read_csv(file,skiprows=[0])
df.replace('-',0,inplace=True)
df

    Pos                 Team  Seasons  ...    Debut Since/LastApp BestPosition
0     1          Real Madrid       86  ...     1929          1929            1
1     2            Barcelona       86  ...     1929          1929            1
2     3      Atletico Madrid       80  ...     1929       2002-03            1
3     4             Valencia       82  ...  1931-32       1987-88            1
4     5      Athletic Bilbao       86  ...     1929          1929            1
5     6              Sevilla       73  ...  1934-35       2001-02            1
6     7             Espanyol       82  ...     1929       1994-95            3
7     8        Real Sociedad       70  ...     1929       2010-11            1
8     9             Zaragoza       58  ...  1939-40       2012-13            2
9    10           Real Betis       51  ...  1932-33       2015-16            1
10   11  Deportivo La Coruna       45  ...  1941-42       2014-15            1
11   12           Celta Vigo       51  ...  1939-40       2012-13            4
12   13           Valladolid       42  ...  1948-49       2013-14            4
13   14     Racing Santander       44  ...     1929       2011-12            2
14   15       Sporting Gijon       43  ...  1944-45       2015-16            2
15   16              Osasuna       37  ...  1935-36       2016-17            4
16   17               Malaga       36  ...  1949-50       2008-09            4
17   18               Oviedo       38  ...  1933-34       2000-01            3
18   19             Mallorca       27  ...  1960-61       2012-13            3
19   20           Las Palmas       33  ...  1951-52       2015-16            2
20   21           Villarreal       17  ...  1998-99       2013-14            2
21   22              Granada       23  ...  1941-42       2016-17            6
22   23       Rayo Vallecano       17  ...  1977-78       2015-16            8
23   24                Elche       21  ...  1959-60       2014-15            5
24   25               Getafe       12  ...  2004-05       2015-16            6
25   26             Hercules       20  ...  1935-36       2010-11            5
26   27             Tenerife       13  ...  1961-62       2009-10            5
27   28               Murcia       18  ...  1940-41       2007-08           11
28   29               Alaves       12  ...  1930-31       2016-17            6
29   30              Levante       11  ...  1963-64       2015-16            6
..  ...                  ...      ...  ...      ...           ...          ...
31   32             Sabadell       14  ...  1943-44       1987-88            4
32   33                Cadiz       12  ...  1977-78       2005-06           12
33   34             Logrones        9  ...  1987-88       1996-97            7
34   35            Castellon       11  ...  1941-42       1990-91            4
35   36             Albacete        7  ...  1991-92       2004-05            7
36   37              Almeria        6  ...  2007-08       2014-15            8
37   38              Cordoba        9  ...  1962-63       2014-15            5
38   39           Compostela        4  ...  1994-95       1997-98           10
39   40           Recreativo        5  ...  1978-79       2008-09            8
40   41            Burgos CF        6  ...  1971-72       1979-80           12
41   42           Pontevedra        6  ...  1963-64       1969-70            7
42   43             Numancia        4  ...  1999-00       2008-09           17
43   44                Eibar        3  ...  2014-15       2014-15           10
44   45               Arenas        7  ...     1929       1934-35            3
45   46          Real Burgos        3  ...  1990-91       1992-93            9
46   47            Gimnastic        4  ...  1947-48       2006-07            7
47   48          Extremadura        2  ...  1996-97       1998-99           17
48   49               Merida        2  ...  1995-96       1997-98           19
49   50             Alcoyano        4  ...  1945-46       1950-51           10
50   51                 Jaen        3  ...  1953-54       1957-58           14
51   52           Real Union        4  ...     1929       1931-32            6
52   53           AD Almeria        2  ...  1979-80       1980-81           10
53   54               Europa        3  ...     1929       1930-31            8
54   55               Lleida        2  ...  1950-51       1993-94           16
55   56              Leganes        1  ...  2016-17       2016-17           17
56   57                Xerez        1  ...  2009-10       2009-10           20
57   58               Condal        1  ...  1956-57       1956-57           16
58   59      Atletico Tetuan        1  ...  1951-52       1951-52           16
59   60     Cultural Leonesa        1  ...  1955-56       1955-56           15
60   61               Girona        1  ...  2017-18       2017-18            9

[61 rows x 20 columns]

**2. Print all the teams which have started playing between 1930-1980.**

In [17]:
df['Debut_Start_Range'] = df['Debut'].astype(str).str[:4].astype(int)
  
for index in df.index:
    value = df.loc[index,'Debut_Start_Range']
    if value >= 1930 and value <= 1980:
       print(df.loc[index,'Team'])

Valencia
Sevilla
Zaragoza
Real Betis
Deportivo La Coruna
Celta Vigo
Valladolid
Sporting Gijon
Osasuna
Malaga
Oviedo
Mallorca
Las Palmas
Granada
Rayo Vallecano
Elche
Hercules
Tenerife
Murcia
Alaves
Levante
Salamanca
Sabadell
Cadiz
Castellon
Cordoba
Recreativo
Burgos CF
Pontevedra
Gimnastic
Alcoyano
Jaen
AD Almeria
Lleida
Condal
Atletico Tetuan
Cultural Leonesa


**3. Print the list of teams which came Top 5 in terms of points**

In [18]:
df['Points'] = df['Points'].astype(object).astype(int)
df.sort_values(by=['Points'],ascending=False).head(5)

   Pos             Team  Seasons  ...  Since/LastApp BestPosition Debut_Start_Range
0    1      Real Madrid       86  ...           1929            1              1929
1    2        Barcelona       86  ...           1929            1              1929
2    3  Atletico Madrid       80  ...        2002-03            1              1929
3    4         Valencia       82  ...        1987-88            1              1931
4    5  Athletic Bilbao       86  ...           1929            1              1929

[5 rows x 21 columns]

**4.Write a function with name Goal_diff_count which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference.**

In [19]:

df['GoalsFor'] = df['GoalsFor'].astype(object).astype(int)
df['GoalsAgainst'] = df['GoalsAgainst'].astype(object).astype(int)

def Goal_diff_count(df):
    Goal_diff_count = df.groupby("Team").sum()["GoalsFor"] - df.groupby("Team").sum()["GoalsAgainst"]
    key_max = max(Goal_diff_count.keys(), key=(lambda k: Goal_diff_count[k]))
    key_min = min(Goal_diff_count.keys(), key=(lambda k: Goal_diff_count[k]))
    team = {"TopteamName":key_max,"TopTeamGolDiff":Goal_diff_count[key_max],"LowestTeam":key_min,"LowestTeamGolDiff":Goal_diff_count[key_min]}
    return team
topTeam = Goal_diff_count(df)
topTeam

{'LowestTeam': 'Racing Santander',
 'LowestTeamGolDiff': -525,
 'TopTeamGolDiff': 2807,
 'TopteamName': 'Real Madrid'}


**5.Create a new column with name Winning Percent and append it to the data set (5 points)
Percentage of Winning = (GamesWon / GamesPlayed)*100**

**If there are any numerical error, replace it with 0%**

**Print the top 5 teams which has the highest Winning percentage**

In [20]:
df['GamesWon'] = df['GamesWon'].astype(object).astype(int)
df['GamesPlayed'] = df['GamesPlayed'].astype(object).astype(int)
df['WinningPercent'] = (df['GamesWon']/df['GamesPlayed'])*100
df.sort_values(by=['WinningPercent'],ascending=False).head(5)

   Pos             Team  ...  Debut_Start_Range  WinningPercent
0    1      Real Madrid  ...               1929       59.630702
1    2        Barcelona  ...               1929       57.241130
2    3  Atletico Madrid  ...               1929       47.475134
3    4         Valencia  ...               1931       44.557057
4    5  Athletic Bilbao  ...               1929       43.772629

[5 rows x 22 columns]

**6.Group teams based on their Best position and print the sum of their points for all positions (5 points)**

In [21]:
df['BestPosition'] = df['BestPosition'].astype(object).astype(int)
df['Points'] = df['Points'].astype(object).astype(int)
df.groupby(['BestPosition'])['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64